<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ScreenshotGridUrlFormatString" value="https://steamcommunity.com/id/{0}/screenshots/?p={1}&amp;sort=newestfirst&amp;view=grid" />
    <add key="SteamFileDetailUrlFormatString" value="https://steamcommunity.com/sharedfiles/filedetails/?id={0}" />
    <add key="DefaultScreenshotUrlBase" value="https://steamuserimages-a.akamaihd.net/ugc/" />
  </appSettings>
</configuration>